<div class="container-fluid g-0">
    <app-header (sideNavToggle)="sideNavStatus=$event"></app-header>

    <main>
        <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-side-nav>

        <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
            <div class="header_body">
                <app-modal></app-modal>
            </div>
            <app-table [data]="data" [columns]="columns" (onDelete)="deleteData($event)" (onAbrir)="abrir($event)"></app-table>
        </div>
    </main>
</div>
